header h2 {
    text-align:center;
    color:blue;
}
header {
    width:100%;
}
.filled {
    background-color:green;
    display :inline;
}
p {
    color:blue;
}
.i {
    display:inline;
}
.onewindow {
    width:100vw;
    margin:0;
    padding:0;
    border:none;
    height:100vh;
}