.contant {
 display:flex;
 flex-wrap:wrap;
 text-align:center;
 justify-content:center;
 padding:5%;
}
.hero {
 min-width:300px;
 max-width:500px;
 height:300px;
 background-color:rgb(200,200,200);
 margin:1%;
 flex:1 1 0;
 padding:50px;
}
.img {
 margin:10px;
}
.contant {
 font-size:1.5em;
}
