
body {
    width:98vw;
    height:98vh;
}
* {
    margin:0px;
    padding:0;
    box-sizing:border-box;
}
.com {
    display:flex;

}
h1 {
    margin:40px;
}
button {
    color:white;
    border:none;
    width:100px;
    height:30px;
    margin:10px;
    
    cursor:pointer;
}
.b1 {
    background-image:linear-gradient(90deg,rgb(187, 19, 7),rgb(206, 159, 7))
}
.b2 {
    background-image:linear-gradient(90deg,rgb(1, 123, 123),rgb(45, 7, 180))
}
.b3 {
    background-image:linear-gradient(90deg,rgb(12, 143, 23),rgb(12, 143, 23));
    color:black;
}
.b4 {
    background-image:linear-gradient(90deg,rgb(179, 24, 179),rgb(172, 2, 115))
}
.b5 {
    background-color:rgb(200,200,200);
    color:black;
}

.content {
    width:100vw;
    height:100vh;
    border:1px solid grey;
}
#ikki {
    background-image:url(12.jpg);
    background-size:cover;
}
#qabul {
    width:10vw;
    height:30px;
    text-align:center;
    color:white;
    background:none;
    border:1px solid grey;
    margin:0 45vw;
}
#gh {
    text-align:center;
    color:white;
    margin-top: 280px;
    margin-bottom:20px;
}
.gh {
    margin:0 auto;
}
#uch {
    display:flex;
    justify-content:space-around;
}
.para {
    color:grey;
    text-align: center;
    margin-top: 10px;
    font-size :0.8em;
}
.fg {
    border :1px solid grey;
    width:300px;
    margin-top:30px;
    height:400px;
    justify-content:center;
    padding:5px;
    font-size:1.2rem;
}
.im {
    width: 33%;
    text-align:center;
    margin:0 33%;
}
.kl {
    text-align:center;
    font-size :1.8rem;
    margin: 15px;
}
h4 {
    font-size: 1.2em;
}