.contant {
	justify-content:center;
	border:1px solid #ccc;
	margin:5%;
}
.img {
	width:90%;
	text-align:center;
	margin:5%;
	
}
h2 ,p{
	text-align:center;
}
p {
  color:grey;
}
a {
	text-align: right;
    display:block;
  	margin:5%;
    padding-bottom:3%;
    color:rgb(0,0,150);
    text-decoration:underline;
}
