.body {
    background-image: url("bacg.jpg");
    justify-content: center;
    align-self: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.content {
    background-color: #ffffff;
    width:80vw;
    height: 80vh;
    border-radius: 15px;
    text-align:center;
    margin:auto;
    position:relative;
    top:10vh;
    display:flex;
}
.img-div {
    width:60%;
    height:90%;
    margin:5% 1;
}
.img {
    width: 80%;
    margin: 5%;
    height: 60%;
}
.tab {
    width:90%;
    margin:0 5%;
}
.img-div h3 {
    text-align:right;
    width:90%;
    margin: 5%;
}
.blue-border {
    width:20px;
    height: 20px;
    border :1px solid blue;
}
.text {
    width:38%;
    height:90%;
    margin:5% 1;
}
.blue-text {
    color:blue;
}
.price {
    color:blue;
}
.btn {
    background-color: blue;
    width:60%;
    height:10%;
    border-radius : 15px;
    cursor:pointer;
    color:white;
    border :1px solid blue;
}